<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Article">
    <head>
        <title> Article - Denzil Doyle</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="author" href="https://plus.google.com/u/0/+DenzilDoyle/posts"/>
        <meta name="description" content="Honest Frontend Developer and UI Designer"/>
        <meta name="keywords" content="Denzil Doyle, Trinidad, TnT, Web, Website, Mobile, CSS, HTML, PHP, Ionic, Angular, Sketch, UI, UX, Design, SASS, Frontend, SEO, Software, App, Application, Developer, wordpress"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#222222">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#222222">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#222222">

        <meta name="og:title" content="">
        <meta name="og:image" content="">
        <meta name="og:type" content="website">
        <meta name="og:url" content="">
        <meta name="og:site_name" content="denzildoyle">
        <meta name="og:description" content="">
        <meta name="fb:app_id" content="">

        <!-- CSS Files comes here -->
        <link rel="stylesheet" href="css/styles.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="css/animate.css">

        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />  
        <meta name="bingbot" content="index, follow" />
        <meta name="yahoo-verticalcrawler" content="index, follow" />
        <meta name="yahoo! slurp" content="index, follow" />
        <meta name="msnbot" content="index, follow" />
        <meta name="scooter" content="index, follow" />
        <meta name="boitho.com-dc" content="index, follow" />
        <meta name="sohu-search" content="index, follow" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="js/article-controller.js"></script>

        <!-- Google Analytics -->
        <script>

        </script>
        <!-- End Google Analytics -->

    </head>
  
    <body ng-app="app" ng-controller="articleCtrl">
        <section id="header">
            <nav class="grid-container">
                <div class="col-6">
                </div>
            </nav>

            <div class="vertical-center">
                <div class="grid-container">
                    <div class="col-6 title">
                        <h5>READING RECOMMENDATIONS</h5>       
                        <h1>“A reader lives a thousand lives before he dies” </h1>
                        <h6>George R.R. Martin</h6>  
                    </div>  
                </div>
            </div>
        </section>
        
        <section id="recommendation">
            <div class="grid-container">
                <div class="recommendation" ng-repeat="recommendation in recommendations">
                    <div class="col-2">
                        <!-- <img ng-show="{{recommendation.has_image == 1}}" src="{{recommendation.image.src}}"> -->
                        <!-- <img ng-show="{{recommendation.has_image == 0}}" src="https://unsplash.it/250/160/?random"> -->
                        <a class="domain" href="{{recommendation.resolved_url | domain}}">{{recommendation.resolved_url | domain}}</a>
                        <h1>{{ recommendation.resolved_title }}</h1>
                        <p>{{ recommendation.excerpt }}</p>
                        <a class="button" href="{{recommendation.resolved_url}}">read more</a>
                        <a class="send-email" href="">Share via email</a>
                    </div>
                    <!-- <div class="clearfix" ng-if="$index % 3 == 0"></div> -->
                </div>
            </div>
        </section>


        <footer class="grid-container">
            <div class="row">
                <div class="col-6">
                    <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> in Trinidad &amp; Tobago</p>
                    <small>Copyright <span id="year"></span> Denzil Doyle</small>
                </div>
            </div>
        </footer>
    </body>
</html>