<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml" itemscope itemtype="http://schema.org/Article">
    <head>
        <title> Article - Denzil Doyle</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="author" href="https://plus.google.com/u/0/+DenzilDoyle/posts"/>
        <meta name="description" content="Honest Frontend Developer and UI Designer"/>
        <meta name="keywords" content="Denzil Doyle, Trinidad, TnT, Web, Website, Mobile, CSS, HTML, PHP, Ionic, Angular, Sketch, UI, UX, Design, SASS, Frontend, SEO, Software, App, Application, Developer, wordpress"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <!-- Chrome, Firefox OS and Opera -->
        <meta name="theme-color" content="#222222">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#222222">
        <!-- iOS Safari -->
        <meta name="apple-mobile-web-app-status-bar-style" content="#222222">

        <meta name="og:title" content="">
        <meta name="og:image" content="">
        <meta name="og:type" content="website">
        <meta name="og:url" content="">
        <meta name="og:site_name" content="denzildoyle">
        <meta name="og:description" content="">
        <meta name="fb:app_id" content="">

        <!-- CSS Files comes here -->
        <link rel="stylesheet" href="css/styles.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/ngProgress.css">

        <meta name="robots" content="index, follow" />
        <meta name="googlebot" content="index, follow" />  
        <meta name="bingbot" content="index, follow" />
        <meta name="yahoo-verticalcrawler" content="index, follow" />
        <meta name="yahoo! slurp" content="index, follow" />
        <meta name="msnbot" content="index, follow" />
        <meta name="scooter" content="index, follow" />
        <meta name="boitho.com-dc" content="index, follow" />
        <meta name="sohu-search" content="index, follow" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script type="text/javascript" src="js/ng-infinite-scroll.min.js"></script>
        <script type="text/javascript" src="js/ngprogress.min.js"></script>
        <script type="text/javascript" src="js/article-controller.js"></script>
        <!-- Google Analytics -->
        <script>

        </script>
        <!-- End Google Analytics -->

    </head>
  
    <body ng-app="app" ng-cloak ng-controller="articleCtrl" ng-class="{'overflow': (!!searchText)}">
        <div ng-class="{'loading active': loading , 'loading': !loading}">
            <div class="vertical-center">
                <h1 class="text-center">Loading Articles</h1>
                <p class="text-center" ng-show="lastUpdated">Last update: {{lastUpdated * 1000 | date}}</p>
            </div>
        </div>
        <div id="menu" ng-class="{'menu': !(!!searchText), 'menu search': (!!searchText)}">
            <div class="grid-container">
                <div class="col-6">
                    <small class="instructions">Just start typing...</small>
                    <input type="text" ng-model="searchText" placeholder="Search" id="search" autocomplete="off" autofocus>
                    <small ng-show="searchText" ng-click="search('')" class="search-clear"><i class="fa fa-times-circle" aria-hidden="true"></i></small>

                    <div ng-hide="searchText">
                        <small>TOPICS</small>
                        <ul>
                            <li><a ng-click="search('Productivity')">Productivity</a></li>
                            <li><a ng-click="search('Business')">Business</a></li>
                            <li><a ng-click="search('Design')">Design</a></li>
                            <li><a ng-click="search('Development')">Development</a></li>
                        </ul>

                        <small>CONNECT WITH ME</small>
                        <ul>
                            <li><a href="">Instagram</a></li>
                            <li><a href="">Twitter</a></li>
                            <li><a href="">Dribbble</a></li>
                            <li><a href="">Github</a></li>
                            <li><a href="">LinkedIn</a></li>
                        </ul>

                        <small>MORE</small>
                        <ul>
                            <li><a href="">About</a></li>
                            <li><a href="">Subscribe</a></li>
                        </ul>
                    </div>
                    <div class="no-results" ng-show="(results | filter:searchText).length == 0">
                        <h3>So sorry, we couldn't find any artiles matching <span class="accent">"{{searchText}}"</h3>
                        <p>Why don't you take a look at popular topics like <span ng-click="search('Development')" class="accent">Development</span>, <span ng-click="search('Design')" class="accent">Design</span> or <span ng-click="search('Design')" class="accent">Business</span>?</p>
                    </div>

                </div>
            </div> 
        </div>

        <a id="nav-toggle" href="#"><span></span></a>
        <section id="header" class="active" ng-hide="searchText">
            <nav class="grid-container">
                <div class="col-6">
                    <ul>
                        <li><a href="">Subscribe</a></li>
                        <li><a href="">About</a></li>
                    </ul>
                </div>
            </nav>
            <div class="vertical-center">
                <div class="grid-container">
                    <div class="col-6 title">
                        <h5>READING RECOMMENDATIONS</h5>       
                        <h1>“A reader lives a thousand lives before he dies” </h1>
                        <h6>George R.R. Martin</h6>  
                    </div>  
                </div>
            </div>
            <!--<span class="scroll-btn">
                <a href="#">
                    <span class="mouse">
                        <span></span>
                    </span>
                </a>
                <p>scroll me</p>
            </span> -->
        </section>
        
        <section id="recommendation" infinite-scroll="loadMore()" infinite-scroll-distance="3">
            <div class="grid-container">
                <div  ng-if="recommendation" ng-repeat="recommendation in recommendations = (results | filter:searchText | limitTo:numberToDisplay) track by $index">
                    <div class="clearfix" ng-if="$index % 3 == 0"></div>
                    <article class="col-2 recommendation">
                        <img ng-show="{{recommendation.has_image == 1}}" src="{{recommendation.image.src}}">
                        <a class="domain" href="{{recommendation.resolved_url | domain}}">{{recommendation.resolved_url | domain}}</a>
                        <h1>{{ recommendation.resolved_title }}</h1>
                        <p>{{ recommendation.excerpt }}</p>
                        <a class="button" target="_blank" href="{{recommendation.resolved_url}}">read article</a>
                        <a class="send-email" href="mailto:?Subject={{ recommendation.resolved_title }}&body={{recommendation.resolved_title + '%0D%0A %0D%0A' + recommendation.excerpt + '%0D%0A %0D%0A' + recommendation.resolved_url}}">Share via email</a>
                    </article>
                </div>
            </div>
        </section>

        <div class="clearfix"></div>

        <footer class="grid-container">
            <div class="row">
                <div class="col-6">
                    <p>Made with <i class="fa fa-heart" aria-hidden="true"></i> in Trinidad &amp; Tobago</p>
                    <small>Copyright &#9400; <span id="year"></span> Denzil Doyle</small>
                </div>
            </div>
        </footer>

        <script src="js/main.js"></script>

    </body>
</html>